.header{
    height: 60vh;
    background-image: radial-gradient(rgba(15, 7, 7, 0.615), rgba(17, 6, 6, 0.615)), url(/bg/new.jpg);
    background-size: cover;
    border-radius: 0 0 100px 100px;
    /* border-left: 2px solid red; */
    /* border-right: 2px solid red; */
    border-bottom: 5px solid red;
}

.topbtn{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.550);
    color: white;
    width: 110px;
    height: 38px;
    right: 900px;
    align-items: center;
    gap: 6px;
    font-size: 13.5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-left: 1195px;
    place-content: center;
    margin-top: 60px;
}

.topbtnii{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.550);
    color: white; 
    width: 110px;
    height: 38px;
    right: 900px;
    align-items: center;
    gap: 6px;
    font-size: 13.5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    /* margin-top: 800px; */
}

.image{
    border: 5px solid red;
    border-radius: 50%;
    margin-top: -40px;
   /* margin: auto; */
   height: 100px;
   width: 100px;
   background-color: white;
   margin-right: auto;

}